COMPOSE_PROJECT_NAME=gc-go

POSTGRES_DB=gcgo
POSTGRES_USER=gcgo
POSTGRES_PASSWORD=change-this-local-password

APP_ENV=development
APP_URL=http://gc-go-web.orb.local
COOKIE_SECURE=false

RESEND_API_KEY=
RESEND_FROM_EMAIL=GC Go <onboarding@resend.dev>
